<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tp.soft.security.dao.SysUserMapper">
    <select id="findAll" resultType="sysUser">
        select * from sysUser
    </select>

    <select id="findById" parameterType="int" resultType="sysUser">
        select * from sysUser where userid = #{userid}
    </select>
</mapper>